{% extends "base.html" %}

{% block title %}
{% if categoria %}
{{ categoria.nombre }} - TecnoHub
{% else %}
Categoría no encontrada - TecnoHub
{% endif %}
{% endblock %}

{% block content %}
<div class="container px-4 py-8 mx-auto">
    {% if categoria %}
    <h1 class="mb-6 text-3xl font-bold">{{ categoria.nombre }}</h1>

    {% if productos %}
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
        {% for producto in productos %}
        <div class="overflow-hidden bg-gray-800 rounded-lg shadow-lg transition-all duration-300 transform hover:scale-105">
            <div class="flex justify-center items-center w-full h-64">
                <div class="flex justify-center items-center w-full h-64 bg-white">
                    <img src="{{ url_for('static', filename='img/' + producto.imagen) }}"
                        alt="{{ producto.nombre }}" class="object-contain p-4 w-full h-full">
                </div>
            </div>
            <div class="p-4">
                <h3 class="mb-2 text-xl font-semibold">{{ producto.nombre }}</h3>
                <p class="mb-4 text-lg font-bold text-blue-500">S/.{{ producto.precio }}</p>
                <a href="{{ url_for('producto', id=producto.id) }}"
                    class="inline-block px-4 py-2 w-full font-bold text-center text-white bg-blue-600 rounded-full transition-colors duration-300 hover:bg-blue-700">
                    Ver Detalles
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-xl text-gray-400">No hay productos disponibles en esta categoría.</p>
    {% endif %}
    {% else %}
    <h1 class="mb-6 text-3xl font-bold">Categoría no encontrada</h1>
    <p class="text-xl text-gray-400">Lo sentimos, la categoría que buscas no existe.</p>
    {% endif %}
</div>
{% endblock %}